
CSharp/.vs/CmdMessenger/v15/sqlite3/

CSharp/.vs/CmdMessenger/v15/

CSharp/ArduinoController/obj/x86/Debug/

CSharp/CommandMessenger/bin/Debug/CommandMessenger.dll

CSharp/CommandMessenger/bin/Debug/CommandMessenger.pdb

CSharp/CommandMessenger/obj/Debug/CommandMessenger.csproj.CoreCompileInputs.cache

CSharp/CommandMessenger/obj/Debug/CommandMessenger.csproj.FileListAbsolute.txt

CSharp/CommandMessenger/obj/Debug/CommandMessenger.dll

CSharp/CommandMessenger/obj/Debug/CommandMessenger.pdb

CSharp/CommandMessenger/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

CSharp/CommandMessengerTests/obj/x86/Debug/CommandMessengerTests.csproj.CoreCompileInputs.cache

CSharp/CommandMessengerTests/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache

CSharp/DataLogging/bin/Debug/app.publish/CControler.exe

*.application

*.exe

*.manifest

*.pdb

*.dll

*.cache

CSharp/DataLogging/obj/x86/Debug/5-DataLogging.csproj.FileListAbsolute.txt

Arduino/eTrap/.vs/eTrap/v15/.suo

Arduino/eTrap/__vm/

Arduino/eTrap/Release/
